<!--<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content class="principal" padding yesno>
    <div id="load" *ngIf="!imgCargada">Mmm...</div>
    
    <img [ngClass]="fade" [ngStyle] ="{'display': visibilidad}" id="imgWallpaper" [src]="imagen" (load)="imagenCargada()">

    <div id="contenido">
      <div class="mensajes" *ngIf="imgCargada">

        <div *ngIf="answer == 'yes'; else no">
            <ion-icon name="md-thumbs-up"></ion-icon> SI
        </div>
        
        <ng-template #no><ion-icon name="md-thumbs-down"></ion-icon>NO</ng-template>

      </div>

      <div id="boton">
        <button [ngStyle] ="{'display': visibilidad}" class="reconsultar" (click)="obtenerResultado()">Deseame suerte</button>
      </div>
    </div>

    
</ion-content>
